.style.vertical-align-middle-innerbox {
    padding: 4px;
}
.paragraph_style {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.style_2 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.paragraph_style_1 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
}
.style_4 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.paragraph_style_2 {
    color: rgb(204, 204, 204);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_5 {
    color: rgb(0, 0, 0);
    line-height: 25px;
    opacity: 1.00;
}
.style_6.vertical-align-middle-innerbox {
    padding: 4px;
}
.style_7 {
    padding: 10px;
}
.paragraph_style_3 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 13px;
    text-align: left;
    text-decoration: underline;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 13px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_8 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.style_9 {
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
}
.paragraph_style_5 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 13px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(206, 61, 255);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_10 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.style_11 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_7 {
    color: rgb(255, 38, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_12 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.style_13 {
    padding: 10px;
}
.paragraph_style_8 {
    color: rgb(201, 27, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_9 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_10 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_14 {
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
}
.paragraph_style_11 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 3px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_12 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_13 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: underline;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_14 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_15 {
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
}
.style_16 {
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
}
.paragraph_style_15 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_16 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_17 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: underline;
    text-indent: 0px;
    text-transform: none;
}
.style_17 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}
.paragraph_style_18 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_19 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_20 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_21 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 30px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_668_103 {
    position: relative;
}
.style_18 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.style_19 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.style_20 {
    color: rgb(201, 27, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_22 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_23 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_21 {
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
}
.paragraph_style_24 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_22 {
    color: rgb(4, 51, 255);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_25 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_26 {
    color: rgb(201, 27, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_23 {
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
}
.style_24 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}
.paragraph_style_27 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 25px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_25 {
    color: rgb(201, 27, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_28 {
    color: rgb(4, 51, 255);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_29 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_30 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 20px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_31 {
    color: rgb(201, 27, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_32 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_26 {
    color: rgb(4, 51, 255);
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_33 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_34 {
    color: rgb(4, 51, 255);
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_27 {
    color: rgb(201, 27, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_35 {
    color: rgb(4, 51, 255);
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_28 {
    color: rgb(0, 147, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.style_External_769_65.vertical-align-middle-middlebox {
    height: 65px;
    position: relative;
    width: 769px;
}
.paragraph_style_36 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 35px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_37 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_38 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 25px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_639_302 {
    position: relative;
}
.style_External_771_940 {
    position: relative;
}
.style_External_773_340 {
    position: relative;
}
.paragraph_style_39 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_29 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.style_30 {
    color: rgb(170, 121, 66);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.style_31 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}
.paragraph_style_40 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 28px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_41 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 28px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_32 {
    padding: 4px;
}
.style_33 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
}
.paragraph_style_42 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 20px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_43 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_34 {
    color: rgb(0, 147, 0);
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.style_35 {
    color: rgb(255, 147, 0);
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.style_36 {
    color: rgb(4, 51, 255);
    font-family: 'TimesNewRomanPS-BoldItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 21px;
    opacity: 1.00;
}
.paragraph_style_44 {
    color: rgb(0, 0, 0);
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 10px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_37 {
    font-family: 'TimesNewRomanPS-ItalicMT', 'Times New Roman', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
}
.paragraph_style_45 {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: right;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_46 {
    color: rgb(136, 136, 136);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 12px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_765_295 {
    position: relative;
}
.style_External_643_238 {
    position: relative;
}
.style_External_722_940 {
    position: relative;
}
.style_External_600_118 {
    position: relative;
}
.style_SkipStroke {
    background: rgb(255, 223, 205);
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: rgb(204, 204, 204);
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    float: right;
    margin-bottom: 9px;
    margin-left: 9px;
    margin-right: 0px;
    margin-top: 9px;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: rgb(255, 232, 243);
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: rgb(255, 249, 190);
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    float: right;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 0px;
    margin-top: 7px;
    opacity: 1.00;
}
.style_SkipStroke_6 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_7 {
    background: rgb(255, 249, 190);
    opacity: 1.00;
}
.style_SkipStroke_8 {
    background: transparent;
    float: right;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 0px;
    margin-top: 6px;
    opacity: 1.00;
}
.style_SkipStroke_9 {
    background: rgb(246, 246, 246);
    opacity: 1.00;
}
.style_SkipStroke_10 {
    background: rgb(213, 253, 208);
    opacity: 1.00;
}
.style_SkipStroke_11 {
    background: rgb(239, 245, 255);
    opacity: 1.00;
}
.style_SkipStroke_12 {
    background: rgb(255, 235, 214);
    opacity: 1.00;
}
.style_External_715_238 {
    position: relative;
}
.style_External_638_145 {
    position: relative;
}
.style_External_720_560 {
    position: relative;
}
.style_External_767_890 {
    position: relative;
}
.style_External_718_255 {
    position: relative;
}
.style_External_770_37.vertical-align-middle-middlebox {
    height: 37px;
    position: relative;
    width: 770px;
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(167, 167, 167);
    font-family: 'Arial-BoldMT', 'Arial', sans-serif;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_769_65 {
    position: relative;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    float: left;
    margin-bottom: 6px;
    margin-left: 0px;
    margin-right: 6px;
    margin-top: 6px;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default_External_770_355 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_772_331 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_765_295 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_638_145 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_668_103 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_722_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_770_37 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_722_940 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_718_255 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_57_27 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_777_317 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_600_118 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_720_560 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_777_316 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_715_238 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_777_311 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_775_408 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_771_940 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_777_310 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_639_302 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_643_238 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_767_890 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_773_340 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_297_22 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a:visited {
    color: rgb(148, 33, 146);
    text-decoration: underline;
}
a:hover {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
